<!DOCTYPE html>
<html>
<head>
	<title>Client</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	
	<div id="app" class="container">
		
		<div v-if="form == true" >
			<h3>Mokit</h3>
			<div>
				<div class="form-group row">
					<label>Name</label>
					<input type="text" id="nama" class="form-control">
					<label>Grade</label>
						<select name = "grade" class="form-control">

						<option value="High Grade">High Grade</option>
						<option value="Real Grade">Real Grade</option>
						<option value="Master Grade">Master Grade</option>
						<option value="Perfect Grade">Perfect Grade</option>
						<option value="Hi-Resolution">Hi-Resolution</option>

						</select>
					
					
				</div>
				<div class="form-group">
					<button v-on:click="simpan()">Save</button>
					<button v-on:click="form = !form">
					Back</button>
				</div>
			</div>

			
		
		</div>

		<div v-if="form == false">
			<h3>TABEL MOKIT</h3>
				<button v-on:click="form = !form">
			add
		</button>
		<table class="table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Supplier</th>
			
			<th>Action</th>
		
		</tr>

		<tr v-for="i in items">
			<td>{{ i.id }}</td>
			<td>{{ i.nama }}</td>
			<td>{{ i.grade }}</td>
			<td>{{ i.supplier.nama }}</td>
			<td></td>
		</tr>
	</table>
		</div>	
	
	</div>

	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script>
		var example = new Vue({
			el: '#app',
			data:{
				items: [],
				form : false
			},
			mounted(){
				this.fetchmokit();
			},
			methods: {
				fetchmokit(){
					//get data dari produk
				var self = this
				axios.get('http://localhost:8000/api/get-mokit')
				.then(function(response) {
					console.log(response.data)
					self.items = response.data
					})
				.catch(function(error) {
					console.log(error)
					})
				},
				simpan(){
					var i_nama = document.getElementById("nama").value
					var i_grade = document.getElementById("grade").value
					

					var self = this
					axios.post("http://localhost:8000/api/get-mokit",{
						nama : i_nama,
						grade : i_grade,
						supplier_id : 1,
					})
					.then(function (response) {
						console.log(response);
						if (response.data.status == true){
							self.form = !self.form
							self.fetchmokit()
						}else{
							alert("data gagal disimpan")
						}
					})
					.catch(function(error) {
					console.log(error)
					})
				}


			}
		})

	</script>
</body>
</html>